@CHARSET "ISO-8859-1";

.error-danger {
	color: #a9442;
}

.has-form-error {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}